<mat-toolbar>
  <footer>
    <div class="footer-container">
      <mat-icon>recommend</mat-icon>
      <mat-icon>local_pizza</mat-icon>
      <mat-icon>local_dining</mat-icon>
      <mat-icon>kebab_dining</mat-icon>
      <mat-icon>local_cafe</mat-icon>  
      <mat-icon>local_drink</mat-icon>
      <mat-icon>wine_bar</mat-icon>
      <mat-icon>local_bar</mat-icon>
      <mat-icon>audiotrack</mat-icon>
      <mat-icon>wifi</mat-icon>
      <mat-icon>integration_instructions</mat-icon>
      <mat-icon>tv</mat-icon>
    </div>
  </footer>
</mat-toolbar>
